.idea/workspace.xml
.idea/2024_2_Fight-club.iml
.idea/vcs.xml
access.log
db.log
.env
cover
cover.out
.idea/shelf/Uncommitted_changes_before_Merge_at_18_11_2024_0_22_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Merge_at_18_11_2024_0_22__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_25_11_2024_17_43_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_25_11_2024_17_43__Changes_.xml
